<main class="container">
  <div class="header">
    <h1>Your Fam</h1>
    <%= link_to "Add Fam", new_family_path, data: { turbo_frame: dom_id(Family.new) }, class: "btn btn--primary" %>
  </div>

  <%= turbo_frame_tag Family.new do %>
    <% if @families.none? %>
      <%= render "families/empty_state" %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "families" do %>
    <%= render @families %>
  <% end %>
</main>
